<div class="banner">
  <%= video_tag 'cocktail-video.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video" %>
  <div class="banner-text">
    <h1>Welcome to Mr. Cocktail</h1>
    <p>Find your perfect drink</p>
    <%= link_to "Go!", "/cocktails", class:"btn btn-warning"  %>
  </div>
</div>

